/* ================================================ */

/* ============================================== */
.btn {
  padding: 10px 30px;
  border-radius: 40px;
  border-width: 1px;
}
/* ============================================== */

/* header end */

/* ================================================ */

/* hero Section start */

.hero_art img {
  width: 100%;
  border-radius: 50px;
}

.hero_art {
  width: 50%;
}

.hero_section {
  display: flex;
}

.hero_message {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.hero_message p {
  width: 70%;
  font-size: 3rem;
  font-weight: bold;
}

/* hero Section End */

/* ================================================ */

/* sectionOne */
/* ================================================ */

.section_one {
  border: 1px solid black;
}
.steps_cards {
  display: flex;
  justify-content: space-between;
}

.step_one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.step_one > p {
  text-align: center;
}

.section_title {
  text-align: center;
}
/* ================================================ */
/* section1 */

/* sectiontwo  gallary*/
.item-one {
  border: var(--b-20);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.item-one p {
  border: var(--b-20);
  width: fit-content;
}
.section_content {
  display: flex;
  justify-content: space-between;
}

.gallary_item-top {
  display: flex;
  justify-content: space-between;
}
.gallary_item-down {
  display: flex;
  justify-content: space-between;
}

.gallary-left {
  width: 40%;
  border: var(--b-20);
}
.gallary_left > img {
  border: var(--b-20);
  border-radius: 60px;
}

.gallary_right {
  width: 40%;
  border: var(--b-20);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.gallary_right .btn {
  height: 60px;
}

/* property cards section  */
/* ==================================================== */
.cards_carousel {
  /* display: flex;
  justify-content: space-between; */
}

.card {
  border: var(--b-20);
  padding: 20px;
  height: 50%;
}
.cards_carousel li {
  width: 300px;
}

.card-specs {
  display: flex;
  justify-content: space-between;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}
@media screen and (min-width: 1024) {
}

@media screen and (min-width: 767px) and (min-width: 1024) {
}

@media screen and (max-width: 767px) {
}

.footer_profile {
  max-width: 30%;
}

.footer_itmes {
  display: flex;
  justify-content: space-between;
}

.footer_list {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.footer_menu {
  text-align: center;
}

.footer_list li {
  margin-bottom: 10px;
}

/* try grid start */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 50px;
  gap: 10px;
}

.grid-items {
  border: 1px solid black;
  /* background-color: aqua; */
  padding: 20px;
  text-align: center;
}
.grid-items1 {
  border: 1px solid black;
  /* background-color: aqua; */
  padding: 0 20px;

  text-align: center;
}

.item_one {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
}

.item-six {
  grid-column-start: 3;
  grid-column-end: 5;
}
/* .item_one {
  grid-area: main;
} */

.grid-image_main {
  width: 100%;
  height: 100%;
}

.small-gallary-image {
  width: 100%;
}

.btn-gallary {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  border-width: 1px;
}

.cS-hidden {
  height: 1px;
  opacity: 0;
  filter: alpha(opacity=0);
  overflow: hidden;
}

/* try grid end */
