.cards_carousel {
  /* display: flex;
    justify-content: space-between; */
}

.card {
  width: 344px;
  height: 380px;

  display: flex;
  flex-direction: column;
  justify-items: center;
}

.cards_carousel li {
  width: 300px;
}

.cardlist li {
  border: none;
}

.card-specs {
  display: flex;
  justify-content: space-between;
}

.card-header {
  height: 230px;
  width: 100%;
  padding: 0px 20px;
  border-radius: 26px 26px 0px 0px;

  /* background-image: url("../assets/wireframes/placeholders/ph3.jpg"); */
  background-color: gray;
  display: flex;
  justify-content: flex-end;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 154px;
  padding: 20px;
  background-color: #eff0f0;
  border-radius: 0px 0px 26px 26px;
}

.icons li {
  padding: 4px;
  width: fit-content;
  display: flex;
  border: none;
  margin-top: 10px;
}

.cardlist {
  display: grid;
  grid-template-columns: 344px 344px 344px;
  gap: 122px;
  align-items: center;
  row-gap: 61px;
}

/* SEARCH AREA */

.search-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  align-items: center;
}

.search {
  border: 1.5px solid black;
  align-items: center;
  border-radius: 10px;

  /* display: flex;
  justify-content: space-between; */

  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; */
}
.search-input {
  display: flex;
  justify-content: space-between;

  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; */
}

.search-input input {
  width: 90%;
  padding: 20px;
  border: none;
  outline: none;
}

.search-input button {
  padding: 10px 10px;
  width: 10%;
}

.filter {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.filter li {
  padding: 10px 30px;
  width: fit-content;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.search .btn {
  padding: 10px 10px;
  border-radius: 0px 10px 10px 0px;
  border: none;
}
.container-raw .btn {
  width: 30%;
}

.btn {
  padding: 15px 30px;
  border: none;
  border-radius: 15px;
}

input {
  /* border-radius: 20px; */
  border: none;
  /* display: none; */
}

.search > button {
  border-radius: 16px 16px 16px 16px;
}

/* search sorting area */
.sorting-area {
  /* width: 100%; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 15px 0px;
}

.pagination > ul {
  display: flex;
  justify-content: space-between;
}

.sort-sort > ul {
  display: flex;
  justify-content: flex-end;
}

.sort-sort ul > li {
  margin-right: 10px;
}

/* END SEARCH AREA */
